*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    color: rgb(4, 155, 4);
    font-family: monospace;
    font-size: 2rem;
}