*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

:root{
    --x:400px;
    --y:400px;
}
body{
    background-image: url(https://images.unsplash.com/photo-1770110000509-6c8298224699?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
.box{
    height: 100%;
    width: 100%;
    background:radial-gradient(150px at var(--x) var(--y),transparent, rgba(0, 0, 0, 0.84))
}

